
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-page="/en-US/Home/Users/create">English</a></li>
    <li><a asp-area="" asp-page="/vn-VN/Home/Users/create">Vietnamese</a></li>
</ul>